<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.company.user.Register</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.company.user.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.company.user.Logout</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>RemoveSession</servlet-name>
    <servlet-class>com.company.core.RemoveSession</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RemoveSession</servlet-name>
    <url-pattern>/RemoveSession</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>GetAllSession</servlet-name>
    <servlet-class>com.company.core.GetAllSession</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetAllSession</servlet-name>
    <url-pattern>/GetAllSessions</url-pattern>
  </servlet-mapping>

	
  <servlet>
    <servlet-name>GetAllAudits</servlet-name>
    <servlet-class>com.company.core.GetAllAudits</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetAllAudits</servlet-name>
    <url-pattern>/GetAllAudits</url-pattern>
  </servlet-mapping>
	


  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>


</web-app>
